;; shadow-cljs configuration
{:deps
 {:aliases [:dev]}

 :dev-http
 {5010 "public"}

 :builds
 {:interpreted
  {:target :esm
   :modules
   {:main {:init-fn wthjh.interpreted/init}}
   :output-dir "public/js"
   }

  :fragments
  {:target :esm
   :modules
   {:main {:init-fn wthjh.fragments/init}}
   :output-dir "public/js"
   }
  }}
